{% extends 'my_diary/base.html' %}
{% block content %}
{% include 'my_diary/includes/inc_menu.html' %}
<section class="screen_1 dr-section" id="about">
    <div class="container">
        <div class="title-group">
            <h2 class="title">Добро пожаловать</h2>
            <div class="subtitle">Ваш дневник на каждый день!</div>
        </div>

        <div class="screen_1__body">
            <div class="screen_1__text screen_1__text1">
                <p>Мы сделали для вас простой и удобный сервис, в котором легко вести личные записи на любую тему.
                    Эмоции, идеи, переживания и впечатления – сохраняйте всё, что с вами происходит.
                    Тут могло бы быть много чего, и картирки и все все все, но пока нет(. Пока можно создавать записи,
                    просматривать их, редактировать, удалять.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}