{% extends 'my_diary/base.html' %}
{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Добро пожаловать</h1>
            <p class="lead text-body-secondary">Ваш дневник на каждый день!
            <p>
            <p>Мы сделали для вас простой и удобный сервис, в котором легко вести личные записи на любую тему.
                Эмоции, идеи, переживания и впечатления – сохраняйте всё, что с вами происходит.
                Тут могло бы быть много чего, и картирки и все все все, но пока нет(. Пока можно создавать записи,
                просматривать, редактировать, удалять.</p>
        </div>
    </div>
</section>
{% endblock %}