{% extends 'my_diary/base.html' %}
{% block content %}
{% include 'my_diary/includes/inc_menu.html' %}
<section class="screen_1 dr-section" id="about">
    <div class="container">
        <div class="title-group">
            <h2 class="title">Добро пожаловать</h2>
            <div class="subtitle">Ваш дневник на каждый день!</div>
        </div>

        <div class="screen_1__body">
            <div class="screen_1__text screen_1__text1">
                <p>Мы сделали для вас простой и удобный сервис, в котором легко вести личные записи на любую тему.
                    Эмоции, идеи, переживания и впечатления – сохраняйте всё, что с вами происходит, и делитесь
                    записями с друзьями. Или оставьте их только для себя, как собственную маленькую тайну ;) </p>
            </div>

            <div class="screen_1__slider-wrap">
                <div class="screen_1__slider">
                    <div class="screen_1__slide"><img class="screen_2__img" src="/storage/static/landing/page_1.png"
                                                      alt="Picnote"></div>
                    <div class="screen_1__slide"><img class="screen_2__img" src="/storage/static/landing/page_2.png"
                                                      alt="Picnote"></div>
                    <div class="screen_1__slide"><img class="screen_2__img" src="/storage/static/landing/page_3.png"
                                                      alt="Picnote"></div>
                    <div class="screen_1__slide"><img class="screen_2__img" src="/storage/static/landing/page_4.png"
                                                      alt="Picnote"></div>
                </div>

                <div class="arrow screen_1__prev">
                    <svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.577 2L2.15409 13.5L12.577 25" stroke="white" stroke-width="3"
                              stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2.15412 13.5H23" stroke="white" stroke-width="3" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="arrow screen_1__next">
                    <svg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.423 2L22.8459 13.5L12.423 25" stroke="white" stroke-width="3"
                              stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22.8459 13.5H2" stroke="white" stroke-width="3" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </div>

            </div>

            <div class="screen_1__text screen_1__text2">
                <p>Лень писать? Сделайте коллаж! В вы можете оформлять странички своего дневника разными цветами,
                    рисунками, стикерами – попробуйте себя в виртуальном скрапбукинге. Чем креативнее запись, тем
                    лучшее: мы за полную свободу самовыражения! </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}