 <section class="screen_3  dr-section">
        <div class="container">
            <div class="title-group">
                <h2 class="title">Ваш дневник – ваши правила</h2>
            </div>
            <div class="screen_3__body">
                <div class="screen_3__row">

                    <div class="screen_3__item">
                        <div class="screen_3__icon"><img src="/storage/static/landing/feature_1.svg"
                                                         alt="Креативное оформление"></div>
                        <div class="screen_3__item-body">
                            <div class="screen_3__item-title">Креативное оформление</div>
                            <div class="screen_3__item-text">
                                Выбирайте свой фон и шрифты для каждой записи, пусть каждый день будет уникальным!
                            </div>
                        </div>
                    </div>

                    <div class="screen_3__item">
                        <div class="screen_3__icon"><img src="/storage/static/landing/feature_2.svg"
                                                         alt="Удобный календарь"></div>
                        <div class="screen_3__item-body">
                            <div class="screen_3__item-title">Удобный календарь</div>
                            <div class="screen_3__item-text">
                                Просматривайте уже сделанные записи, перемещаясь между ними в один-два клика.
                            </div>
                        </div>
                    </div>

                    <div class="screen_3__item">
                        <div class="screen_3__icon"><img src="/storage/static/landing/feature_3.svg"
                                                         alt="Удобный календарь"></div>
                    </div>

                    <div class="screen_3__item">
                        <div class="screen_3__icon"><img src="/storage/static/landing/feature_4.svg"
                                                         alt="Загрузка изображении"></div>
                        <div class="screen_3__item-body">
                            <div class="screen_3__item-title">Загрузка изображении</div>
                        </div>
                    </div>

                    <div class="screen_3__item">
                        <div class="screen_3__item-body">
                            <div class="screen_3__item-title">Поиск по записям</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>