{% extends 'my_diary/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">

                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <p class="card-text">{{object.title}}</p>
                        <p class="card-text">{{object.descriptions}}</p>
                        <p class="card-text">{{object.text_diary}}</p>
                            </ul>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'my_diary:diary_list' %}"
                                   role="button">Назад</a>
                            </div>
                            <small class="text-body-secondary"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}