{% extends 'my_diary/base.html' %}
{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="title">Начните вести свой дневник <br>
                уже сегодня</h2>
            <h3>Как начать вести дневник?</h3>
            <p></p>
            <h4> - Зарегистрируйтесь на сайте. Всё, что нужно, это ввести почту и
                пароль.</h4>
            <h4> - Создайте новую запись.</h4>
            <h4> - Запишите свои мысли.</h4>
            <p>
                {% if user.is_authenticated %}
                <a href="{% url 'my_diary:diary_create' %} " class="btn btn-secondary my-2">Завести дневник</a>
                {% else %}
                <a href="{% url 'users:register' %} " class="btn btn-secondary my-2">Зарегистрироваться</a>
                {% endif %}
            </p>
        </div>
    </div>
</section>
{% endblock %}