{% extends 'my_diary/base.html' %}
{% block content %}
{% include 'my_diary/includes/inc_menu.html' %}
<section class="screen_faq dr-section">
    <div class="container">
        <div class="title-group">
            <h2 class="title">Вопросы и ответы</h2>
        </div>

        <div class="questions">
            <div class="questions__block">
                <div class="questions__item">
                    <div class="questions__text">
                        <div class="questions__arrow">
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.88 0L8 6.18084L14.12 0L16 1.90283L8 10L0 1.90283L1.88 0Z"
                                      fill="#EF7765"/>
                            </svg>
                        </div>
                        <h2 class="questions__title">Что такое Picnote?</h2>
                    </div>
                    <div class="questions__answer">
                        <p>
                            Picnote — это веб-сайт, который позволяет вести дневник в онлайне. Здесь вы можете
                            записывать свои мысли и заметки. В Picnote вы можете украшать странички своего дневника
                            с помощью стикеров и добавлять фотографии и надписи.
                        </p>
                    </div>
                </div>

                <div class="questions__item">
                    <div class="questions__text">
                        <div class="questions__arrow">
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.88 0L8 6.18084L14.12 0L16 1.90283L8 10L0 1.90283L1.88 0Z"
                                      fill="#EF7765"/>
                            </svg>
                        </div>
                        <h2 class="questions__title">Могу ли я поделиться записью?</h2>
                    </div>
                    <div class="questions__answer">
                        <p>
                            Да, вы можете открыть запись для просмотра, получив публичную ссылку. Все, у кого есть
                            ссылка, могут видеть вашу запись.
                        </p>
                    </div>
                </div>

                <div class="questions__item">
                    <div class="questions__text">
                        <div class="questions__arrow">
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.88 0L8 6.18084L14.12 0L16 1.90283L8 10L0 1.90283L1.88 0Z"
                                      fill="#EF7765"/>
                            </svg>
                        </div>
                        <h2 class="questions__title">Есть ли возможность выгрузить все свои записи?</h2>
                    </div>
                    <div class="questions__answer">
                        <p>
                            Да, для этого нужно в верхнем меню выбрать пункт "Экспорт записей". Вы получите
                            текстовый файл, который можно открыть в любом редакторе.
                        </p>
                    </div>
                </div>

                <div class="questions__item">
                    <div class="questions__text">
                        <div class="questions__arrow">
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.88 0L8 6.18084L14.12 0L16 1.90283L8 10L0 1.90283L1.88 0Z"
                                      fill="#EF7765"/>
                            </svg>
                        </div>
                        <h2 class="questions__title">Как я могу добавить фотографии на сайт?</h2>
                    </div>
                    <div class="questions__answer">
                        <p>
                            Вы можете добавить фото двумя способами: <br>
                            — на боковой панели слева выбрать пункт «Добавить изображение», вам откроется окно с
                            вариантами: либо загрузить файл с вашего компьютера, либо выбрать из уже готовых
                            изображений по ключевым словам. В этом случае вы сможете менять размеры изображения и
                            размещать его в любом месте страницы.<br>
                            — на панели «Типографика» при редактировании текста записи нажать кнопку «Изображение».
                            В данном случае картинка разместится внутри блока текста.<br>
                        </p>
                    </div>
                </div>

                <div class="questions__item">
                    <div class="questions__text">
                        <div class="questions__arrow">
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.88 0L8 6.18084L14.12 0L16 1.90283L8 10L0 1.90283L1.88 0Z"
                                      fill="#EF7765"/>
                            </svg>
                        </div>
                        <h2 class="questions__title">Как изменить оформление записи?</h2>
                    </div>
                    <div class="questions__answer">
                        <p>
                            Изменить оформление для всех вновь создаваемых записей можно на странице настройки.
                            После создания записи вы можете в любой момент поменять ее фон и заливку, а также стили
                            шрифта
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="screen_faq__action">
            <a href="/faq" class="btn btn-green btn-normal">Все вопросы</a>
        </div>
    </div>
</section>
{% endblock %}