{% extends 'my_diary/base.html' %}
{% block content %}


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Зачем вести дневник</h1>
            <p class="lead text-body-secondary">Завести дневник - это один из самых эффективных способов
                саморазвития и личностного роста
            </p>
            <h3>Самопознание и саморефлексия </h3>
            <p class="lead text-body-secondary">Дневник помогает лучше понять свои мысли, чувства, эмоции и переживания.
                Он позволяет проанализировать события, произошедшие за день, и сделать выводы о том, как они
                влияют на вашу жизнь.</p>
            <h3>Управление временем</h3>
            <p class="lead text-body-secondary">Записывая свои планы и цели на день, вы можете отслеживать свой прогресс
                и видеть, где можно улучшить свое время и эффективность.</p>
            <h3>Разрядка и снятие стресса</h3>

            <p class="lead text-body-secondary">Когда вы записываете свои мысли и чувства, это помогает вам выразить
                свои эмоции, что в свою очередь снижает уровень стресса и тревоги.</p>
            <h3>Развитие памяти</h3>
            <p class="lead text-body-secondary">Регулярное ведение дневника улучшает память, так как вы учитесь
                вспоминать и записывать свои мысли и события.</p>

        </div>
    </div>
</section>

{% endblock %}