{% extends 'my_diary/base.html' %}
{% block content %}
{% include 'my_diary/includes/inc_menu.html' %}

<section class="screen_4  dr-section" id="reasons">
    <div class="container">
        <div class="title-group">
            <h2 class="title">Зачем вести дневник</h2>
            <div class="subtitle">Завести дневник - это один из самых эффективных способов <br>саморазвития и
                личностного роста
            </div>
        </div>
        <div class="screen_4__body">
            <div class="screen_4__item">
                <div class="screen_4__img">
                    <img src="/storage/static/landing/why_1.png" alt="Самопознание и саморефлексия">
                </div>
                <div class="screen_4__block">
                    <h3 class="screen_4__title">Самопознание и саморефлексия </h3>
                    <div class="screen_4__text">Дневник помогает лучше понять свои мысли, чувства, эмоции и переживания.
                        Он позволяет проанализировать события, произошедшие за день, и сделать выводы о том, как они
                        влияют на вашу жизнь.
                    </div>
                </div>
            </div>

            <div class="screen_4__item">
                <div class="screen_4__img">
                    <img src="/storage/static/landing/why_2.png" alt="Управление временем">
                </div>
                <div class="screen_4__block">
                    <h3 class="screen_4__title">Управление временем</h3>
                    <div class="screen_4__text">Записывая свои планы и цели на день, вы можете отслеживать свой прогресс
                        и видеть, где можно улучшить свое время и эффективность.
                    </div>
                </div>
            </div>

            <div class="screen_4__item">
                <div class="screen_4__img">
                    <img src="/storage/static/landing/why_3.png" alt="Разрядка и снятие стресса">
                </div>
                <div class="screen_4__block">
                    <h3 class="screen_4__title">Разрядка и снятие стресса</h3>
                    <div class="screen_4__text">Когда вы записываете свои мысли и чувства, это помогает вам выразить
                        свои эмоции, что в свою очередь снижает уровень стресса и тревоги.
                    </div>
                </div>
            </div>

            <div class="screen_4__item">
                <div class="screen_4__img">
                    <img src="/storage/static/landing/why_4.png" alt="Разрядка и снятие стресса">
                </div>
                <div class="screen_4__block">
                    <h3 class="screen_4__title">Развитие памяти</h3>
                    <div class="screen_4__text">Регулярное ведение дневника улучшает память, так как вы учитесь
                        вспоминать и записывать свои мысли и события.
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
{% endblock %}