<header class="dr-nav sm-none d-block">
    <div class="dr-container">
        <div class="dr-nav__row">
            <nav class="dr-nav__nav">
                <a href="{% url 'my_diary:about' %}" class="dr-nav__link">О нас</a>
                <a href="{% url 'my_diary:why_diary' %}" class="dr-nav__link">Зачем вести дневник? </a>
                <a href="{% url 'my_diary:how_start' %}" class="dr-nav__link">Как начать?</a>
                <a href="#feedback" class="dr-nav__link">Отзывы</a>
                <a href="https://picnote.ru/what-news" class="dr-nav__link">Что нового</a>
                <a href="{% url 'my_diary:question' %}" class="dr-nav__link">Вопросы</a>
            </nav>
        </div>
    </div>
</header>