<header class="dr-nav sm-none d-block">
    <div class="dr-container">
        <div class="dr-nav__row">
            <nav class="dr-nav__nav">
                <a href="{% url 'my_diary:about' %}" class="dr-nav__link">О нас</a>
                <a href="{% url 'my_diary:why_diary' %}" class="dr-nav__link">Зачем вести дневник? </a>
                <a href="{% url 'my_diary:how_start' %}" class="dr-nav__link">Как начать?</a>
                <a href="{% url 'users:register' %}" class="dr-nav__link">Регистрация</a>
                <a href="{% url 'my_diary:question' %}" class="dr-nav__link">Вопросы</a>
                {% if user.is_authenticated %}
                <a href="{% url 'users:logout' %}" class="dr-nav__link">Выход</a>
                {% else %}
                <a href="{% url 'users:login' %}" class="dr-nav__link">Вход</a>
                {% endif %}
            </nav>
        </div>
    </div>
</header>